# Length unit conversion.

In [6]:
# Kilometer to miles.
km = float(input('Enter the length in km.:'))
miles = km * 0.621371
print(km,'km is equivalent to',miles,'miles.')

# Miles to kilometer.
miles = float(input('Enter the length in miles,:'))
km = miles/0.621371
print(miles,'is equivalent to',km,'kms.')

Enter the length in km.:10
10.0 km is equivalent to 6.21371 miles.
Enter the length in miles,:6.21371
6.21371 is equivalent to 10.0 kms.

In [7]:
# Kilometer to meter.
km = float(input('Enter the length in km.:'))
meter = km * 100
print(km,'km is equivalent to',meter,'meters.')

# Kilometer to cms.
km = float(input('Enter the length in km.:'))
cm = km * 1000
print(km,'km is equivalent to',cm,'centimeters.')

# Meter to kilometer.
meter = float(input('Enter the length in meter.:'))
km = meter / 100
print(meter,'meters is equivalent to',km,'km.')

# Meter to centimeters.
meter = float(input('Enter the length in meter.:'))
cm = meter * 10
print(meter,'m is equivalent to',cm,'centimeters.')

Enter the length in km.:10
10.0 km is equivalent to 1000.0 meters.
Enter the length in km.:10
10.0 km is equivalent to 10000.0 centimeters.
Enter the length in meter.:100
100.0 meters is equivalent to 1.0 km.
Enter the length in meter.:120
120.0 m is equivalent to 1200.0 centimeters.

In [10]:
# Meter to feet.
meter = float(input('Enter the length in meter.:'))
feet = meter /  0.3048
print(meter,'m is equivalent to',feet,'ft.')

# Feet to meter.
feet = float(input('Enter the length in ft.:'))
meter = feet * 0.3048
print(feet,'ft is equivalent to',meter,'meters.')

Enter the length in meter.:2.2
2.2 m is equivalent to 7.217847769028872 ft.
Enter the length in ft.:7.2
7.2 ft is equivalent to 2.19456 meters.

In [11]:
# Meter to yards.
meter = float(input('Enter the length in meter.:'))
yard = meter * 1.09361
print(meter,'m is equivalent to',yard,'yds.')

# Yards to meters.
yard = float(input('Enter the length in yards.:'))
meter = yard / 1.09361
print(yard,'yds is equivalent to',meter,'meters.')

Enter the length in meter.:100
100.0 m is equivalent to 109.36099999999999 yds.
Enter the length in yards.:109
109.0 yds is equivalent to 99.66990060442022 meters.